@import "./custom.scss";
@import "./fonts.scss";

body{
    color: white;
    background-color: #F3F3FB;
}

.heading-text{
    h1{
        font-size: 2rem;
    }
    h4{
        font-family: cursive;
    }
}
.time-container{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    max-width: 51%;
    margin: auto;

    .unit-text{
        font-weight: 100;
    }

}

@import "./responsive.scss"